.main {
	height: 100%;
	overflow-y: hidden;
}

ng-md-icon svg {
  pointer-events: none;
  display: block;
  margin: auto;
}

.Person, person {
	background-color: blue;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

.City, city {
	background-color: orange;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

.Quantity, quantity {
	background-color: green;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

.JobTitle, jobtitle {
	background-color: gray;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

.Organization, organization {
	background-color: purple;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

.FieldTerminology, fieldterminology {
	background-color: red;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

.Company, company {
	background-color: teal;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

.GeographicFeature, geographicfeature {
	background-color: pink;
	border-radius: 3px;
	color: white;
	padding: 2px;
}
.document-viewer {
	font-size: small;
	line-height: 20px;
}

.entity-list {
	overflow-x: hidden;
}

.entity-list .entity-selection {
	padding-bottom: 16px;
}

.entity-container {
	position: relative;
}

.entity-container .entity-relevance {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	/*width: 100%;*/
	/*background-color: orange;*/
}

.document-list-search md-input-container {
	padding-bottom: 0;
}
.document-viewer md-input-container {
	padding-bottom: 0;
}
.document-text {
	margin-top: 0;
}
.entity-container .entity {
	padding: 2px 0;
	cursor: pointer;
}

.entity-container .entity .entity-count {
	position: relative;
	width: 50px;
}

.entity-container .entity .entity-count .bar{
	height: 100%;
	position: absolute;
	right: 8px;
	background-color: black;
}

.entity-container .entity-text {
	/*position: relative;*/
	/*left: 60px;*/
	font-size: small;
	/*top: 0;*/
	/*background-color: transparent;*/
}

.document-list {
	/*margin-top: 8px;*/
}

.document-list .document-item {
	cursor: pointer;
}

.document-list .document-item.selected {
	border-right: solid 2px rgb(244, 67, 54);
}

.ach-browser {
	position: relative;
}

.ach-browser .search-input {
	position: absolute;
	left: 8px;
	bottom: 0;
}
.ach-browser .ach-toolbar {
	position: absolute;
	left: 8px;
	top: 8px;
}

.ach-browser .editor-tools {
	position: absolute;
	right: 8px;
	top: 8px;
}

.ach-browser .editor-tools ng-md-icon.selected {
	fill: rgb(255, 104, 140);
}

.ach-browser .ach-canvas {
	position: absolute;
	left: 8px;
	top: 8px;
	right: 8px;
	bottom: 8px;
}

.document-entities .document-entity-type span {
	display: inline-block;
	margin: 4px;
}

.hypothesis {

}

.hypothesis .body {
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  /*width:100px;*/
  /*height:100px;*/
  border:3px solid #263238;
}

.evidence {

}

.evidence .body{
	box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  /*width:100px;*/
  /*height:100px;*/
  border:3px solid #283593;
}