.main {
	height: 100%;
	overflow-y: hidden;
}

ng-md-icon svg {
  pointer-events: none;
  display: block;
  margin: auto;
}

person {
	background-color: blue;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

citi {
	background-color: orange;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

quantity {
	background-color: green;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

jobtitle {
	background-color: gray;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

organization {
	background-color: purple;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

fieldterminology {
	background-color: red;
	border-radius: 3px;
	color: white;
	padding: 2px;
}

.document-viewer {
	font-size: small;
	line-height: 20px;
}

.entity-list {
	overflow-x: hidden;
}
.entity-container {
	position: relative;
}

.entity-container .entity-relevance {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	/*width: 100%;*/
	/*background-color: orange;*/
}

.document-list-search md-input-container {
	padding-bottom: 0;
}
.document-viewer md-input-container {
	padding-bottom: 0;
}
.document-text {
	margin-top: 0;
}
.entity-container .entity {
	padding: 2px 0;
	cursor: pointer;
}

.entity-container .entity .entity-count {
	position: relative;
	width: 50px;
}

.entity-container .entity .entity-count .bar{
	height: 100%;
	position: absolute;
	right: 8px;
	background-color: black;
}

.entity-container .entity-text {
	/*position: relative;*/
	/*left: 60px;*/
	font-size: small;
	/*top: 0;*/
	/*background-color: transparent;*/
}

.document-list {
	/*margin-top: 8px;*/
}

.document-list .document-item {
	cursor: pointer;
}

.document-list .document-item.selected {
	border-right: solid 2px rgb(244, 67, 54);
}

.ach-browser {
	position: relative;
}

.ach-browser .search-input {
	position: absolute;
	left: 8px;
	bottom: 0;
}
.ach-browser .ach-toolbar {
	position: absolute;
	left: 8px;
	top: 8px;
}

.ach-browser .editor-tools {
	position: absolute;
	right: 8px;
	top: 8px;
}

.ach-browser .editor-tools ng-md-icon.selected {
	fill: rgb(255, 104, 140);
}

.ach-browser .ach-canvas {
	position: absolute;
	left: 8px;
	top: 8px;
	right: 8px;
	bottom: 8px;
}