{% block footer %}
        <script src="/socket.io/socket.io.js"></script>
		<!-- bower:js -->
		<script src="/public/lib/jquery/dist/jquery.js"></script>
		<script src="/public/lib/angular/angular.js"></script>
		<script src="/public/lib/angular-animate/angular-animate.js"></script>
		<script src="/public/lib/angular-aria/angular-aria.js"></script>
		<script src="/public/lib/angular-material-icons/angular-material-icons.min.js"></script>
		<script src="/public/lib/d3/d3.js"></script>
		<script src="/public/lib/nvd3/build/nv.d3.js"></script>
		<script src="/public/lib/angular-ui-grid/ui-grid.js"></script>
		<script src="/public/lib/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="/public/lib/angular-xeditable/dist/js/xeditable.js"></script>
		<script src="/public/lib/c3/c3.js"></script>
		<script src="/public/lib/lodash/lodash.js"></script>
		<script src="/public/lib/ng-file-upload/ng-file-upload.js"></script>
		<script src="/public/lib/svg-morpheus/compile/minified/svg-morpheus.js"></script>
		<script src="/public/lib/textures/textures.min.js"></script>
		<script src="/public/lib/angular-socket-io/socket.js"></script>
		<script src="/public/lib/angular-material/angular-material.js"></script>
		<script src="/public/lib/angular-nvd3/dist/angular-nvd3.js"></script>
		<script src="/public/lib/c3-angular/c3-angular.min.js"></script>
		<!-- endinject -->

    {% for item in assets.js %}
        <script src="[[item]]"></script>
    {% endfor %}
    
    <script src="/public/vendor/d3evidence.js"></script>
    <script src="/public/vendor/d3hypothesis.js"></script>
    <script src="/public/vendor/minimap.js"></script>
	<script src="/public/widgets/widgets.module.js"></script>
	<script src="/public/widgets/vzEditableListItem.js"></script>
	<script src="/public/data/data.module.js"></script>
    <script src="/public/core/core.module.js"></script>
    <script src="/public/notification/notification.module.js"></script>
    <script src="/public/notification/notification.directive.js"></script>
    <script src="/public/layouts/layout.controller.js"></script>
    <script src="/public/upload/upload.module.js"></script>
    <script src="/public/achmatrix/achmatrix.module.js"></script>
    <script src="/public/entityviewer/entityviewer.module.js"></script>
    <script src="/public/documentviewer/documentviewer.module.js"></script>
    <script src="/public/achcanvas/achcanvas.module.js"></script>
    <script src="/public/provenance/provenance.module.js"></script>

    <script src="/public/documentviewer/vzDocumentviewer.js"></script>
    <script src="/public/documentviewer/vzToolbar.js"></script>
    <script src="/public/documentviewer/vzDocumentlist.js"></script>
    <script src="/public/documentviewer/vzDocumentdetail.js"></script>
    <script src="/public/vizit.client.module.js"></script>
    <script src="/public/core/dataservice.js"></script>
	<script src="/public/data/model.js"></script>
	<script src="/public/data/hypotheses.js"></script>
	<script src="/public/data/evidences.js"></script>
	<script src="/public/data/entities.js"></script>
	<script src="/public/data/documents.js"></script>
	<script src="/public/data/notifications.service.js"></script>
    <script src="/public/core/textparser.js"></script>
    <script src="/public/entityviewer/vzEntityviewer.js"></script>
    <script src="/public/achmatrix/vzAchmatrix.js"></script>
    <script src="/public/provenance/provenance.js"></script>
    <script src="/public/upload/vzUpload.js"></script>
    <script src="/public/vizit.client.config.js"></script>
    <script src="/public/achcanvas/vzAchcanvas.js"></script>
    <script src="/public/core/core.js"></script>
    <script src="/public/to_trusted.client.filter.js"></script>
{% endblock %}