{% block footer %}
		<!-- bower:js -->
	  <script src="/public/lib/jquery/dist/jquery.js"></script>
	  <script src="/public/lib/angular/angular.js"></script>
	  <script src="/public/lib/angular-animate/angular-animate.js"></script>
	  <script src="/public/lib/angular-aria/angular-aria.js"></script>
	  <script src="/public/lib/angular-material-icons/angular-material-icons.min.js"></script>
	  <script src="/public/lib/angular-ui-grid/ui-grid.js"></script>
	  <script src="/public/lib/angular-ui-router/release/angular-ui-router.js"></script>
	  <script src="/public/lib/angular-xeditable/dist/js/xeditable.js"></script>
	  <script src="/public/lib/d3/d3.js"></script>
	  <script src="/public/lib/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
	  <script src="/public/lib/angular-nvd3/dist/angular-nvd3.js"></script>
	  <script src="/public/lib/lodash/lodash.js"></script>
	  <script src="/public/lib/ng-file-upload/ng-file-upload.js"></script>
	  <script src="/public/lib/svg-morpheus/compile/minified/svg-morpheus.js"></script>
	  <script src="/public/lib/angular-material/angular-material.js"></script>
	  <script src="/public/lib/c3/c3.js"></script>
	  <script src="/public/lib/c3-angular/c3-angular.min.js"></script>
	  <!-- endinject -->

    {% for item in assets.js %}
        <script src="[[item]]"></script>
    {% endfor %}
    
    <script src="/public/d3evidence.js"></script>
    <script src="/public/d3hypothesis.js"></script>
    <script src="/public/minimap.js"></script>
    <script src="/public/vizit.client.module.js"></script>
    <script src="/public/vizit.client.config.js"></script>
    <script src="/public/ach_canvas.client.directive.js"></script>
    <script src="/public/main.client.controller.js"></script>
    <script src="/public/upload.client.controller.js"></script>
    <script src="/public/to_trusted.client.filter.js"></script>
{% endblock %}