<md-content layout="column" layout-padding>
    <md-content flex="80">
        <div class="document-text" ng-show="showDocumentText">
            <div
                 ng-bind-html="selectedDocument.parsedText | sentences | to_trusted"
                 compile-template></div>
        </div>
        <div ng-hide="showDocumentText" class="document-entities">
            <!--<md-content>-->
            <div class="document-entity-type"
                        ng-repeat="(entityType, entityArray) in selectedDocument.entities">
                <span class="{{entityType}}">{{entityType}}</span>
                <span ng-repeat="entity in entityArray">{{entity.text}}</span>
            </div>
            <!--</md-content>-->
        </div>
    </md-content>
    <div layout="row" flex="20" layout-align="space-between center">
        <h4>{{selectedDocument.name}}</h4>
        <md-input-container class="md-icon-float">
            <!-- Use floating label instead of placeholder -->
            <label>Current Document</label>
            <md-icon>
                <ng-md-icon icon="search"></ng-md-icon>
            </md-icon>
            <input ng-model="ach.searchInput" type="text">
        </md-input-container>
    </div>
</md-content>