<div layout="column">
    <md-content flex>
        <md-card>
            <md-card-content>
                <div class="document-item" ng-click="selectDocument(document)"
                     ng-repeat="document in documents | filter:searchInput" layout="row"
                     layout-align="space-between center"
                     ng-class="{selected: document.name === selectedDocument.name}">
                    <span flex="20">{{document.viewCount || 0}}</span>
                    <span flex>{{document.name}}</span>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
    <div class="document-list-search">
        <md-input-container class="md-icon-float" layout-padding>
            <!-- Use floating label instead of placeholder -->
            <label>Documents</label>
            <md-icon><ng-md-icon icon="search"></ng-md-icon></md-icon>
            <input ng-model="searchInput" type="text">
        </md-input-container>
    </div>
</div>