<div layout="row">
    <md-toolbar flex="20" class="top-bar" >
        <div class="md-toolbar-tools" layout="row" layout-align="center center" ng-show="showDocumentViewer">
            <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
            <md-button class="md-icon-button md-primary" aria-label="sort">
                <ng-md-icon icon="sort" style="fill: white;"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" aria-label="visibility">
                <ng-md-icon icon="visibility" style="fill: white;"></ng-md-icon>
            </md-button>
            <!-- </md-button> -->
        </div>
    </md-toolbar>
    <md-toolbar flex class="top-bar">
        <div class="md-toolbar-tools" layout="row" layout-align="start center">
            <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
            <!-- <ng-md-icon icon="text_format" style="fill: white;"></ng-md-icon> -->

            <md-button ng-show="showDocumentViewer" class="md-icon-button md-primary" aria-label="showTextToggle" ng-click="showDocumentText = !showDocumentText">
                <ng-md-icon icon="{{showDocumentText ? 'list' : 'text_format'}}" style="fill: white;"></ng-md-icon>
            </md-button>
            <span flex></span>
            <div ng-show="showDocumentViewer" layout="row">
                <md-button class="md-icon-button md-primary" aria-label="add" ng-click="addEvidence()">
                    <md-tooltip md-direction="top">
                        Add as Evidence
                    </md-tooltip>
                    <ng-md-icon icon="add" style="fill: white;"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="note_add" ng-click="">
                    <md-tooltip md-direction="top">
                        Add whole Document as an Evidence
                    </md-tooltip>
                    <ng-md-icon icon="note_add" style="fill: white;"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="system_update_tv" ng-click=""
                        ng-show="ach.selectedEvidence">
                    <md-tooltip md-direction="top">
                        Add in Selected Evidence
                    </md-tooltip>
                    <ng-md-icon icon="system_update_tv" style="fill: white;"></ng-md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="my_library_add" ng-click="addHypothesis()">
                    <md-tooltip md-direction="top">
                        Add a Hypothesis
                    </md-tooltip>
                    <ng-md-icon icon="my_library_add" style="fill: white;"></ng-md-icon>
                </md-button>
            </div>
            <md-button class="md-icon-button md-primary" aria-label="minimize-document-viewer" ng-click="showDocumentViewer = !showDocumentViewer">
                <ng-md-icon icon="{{showDocumentViewer ? 'expand_more' : 'expand_less'}}" style="fill: white;"></ng-md-icon>
            </md-button>
            <!-- </md-button> -->
        </div>
    </md-toolbar>
</div>