<div>
    <p>{{file.name}}</p>
    <!-- <md-button class="md-raised" ngf-change="fileUpdated($files, $event)" ngf-select ng-model="file">
    Select a file
  </md-button> -->
    <md-button class="md-raised" type="file" ngf-select="fileUpdated($file, $event)" ngf-max-height="1000" ngf-max-size="1MB">
        Select a file
    </md-button>
    <!-- <button type="file" ngf-select="uploadFiles($file)"
             accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
         Select File</button> -->
    <md-button class="md-raised md-primary" ng-click="upload(file)" ng-disabled="uploading">
        Upload
    </md-button>
</div>