<div ng-mouseenter="hover = true"
     ng-mouseleave="hover = false">
    <div class="item-title" layout="row" layout-align="space-between center">
        <span flex editable-text="item.name" e-form="textBtnForm" onaftersave="updateItem()">
            {{ item.name || 'empty' }}
        </span>
        <ng-md-icon icon="local_see" ng-click="showLocation(item)"
                    ng-hide="textBtnForm.$visible || !hover"></ng-md-icon>
        <ng-md-icon icon="edit" ng-click="textBtnForm.$show()"
                    ng-hide="textBtnForm.$visible || !hover"></ng-md-icon>
    </div>
    <div class="item-weight">
        <div class="bar" ng-class="item.weight < 0 ? 'negative' : ''" ng-style="{ 'width' : getWeightWidth(item.weight) }"></div>
    </div>
    <div layout="row" ng-if="item.threshold">
        <md-slider flex md-discrete ng-model="item.threshold" step="5" min="5" max="100" aria-label="threshold" class="threshold-slider" ng-change="changeThreshold(item)">
        <!-- <md-slider flex min="5" max="100" ng-model="item.threshold" aria-label="threshold" class="threshold-slider"> -->
    </div>    
</div>