<!-- <div class="ach-provenance"> -->
  <c3chart bindto-id="chart5" show-labels="true" show-subchart="true" enable-zoom="true" ng-if="viewLoaded">
    <chart-size chart-height="500" chart-width="1100"/>
    <chart-column column-id="x"
            column-values="add ev1,add ev2,inc entity Jack, dec entity Panni, add snippet0 to ev1,add ev3"/>
    <chart-column column-id="data1"
              column-name="Hypothesis 1"
              column-color="red"
              column-values="30,200,100,400,150,250"
            column-type="spline"/>
    <chart-column column-id="data2"
              column-name="Hypothesis 2"
              column-color="green"
                  column-values="50,20,10,40,15,25"
                  column-type="line"/>
    <chart-column column-id="data3"
              column-name="Hypothesis 3"
              column-color="#000000"
                  column-values="150,20,100,70,85,215"
                  column-type="spline"/>
   
    <!-- values for y and y2 can be comma seperated list of items, so no commas is label -->
    <chart-axes values-x="x" y="data1,data3" y2="data2"/>
   
   
    <chart-axis>
      <chart-axis-x axis-position="outer-center"
                    axis-label="Time"
                    axis-type="category">
            <chart-axis-x-tick tick-count="6"
                       tick-culling="4"
                       tick-fit="false"
                       tick-rotate="50"/>
        </chart-axis-x>
      <chart-axis-y axis-id="y"
                    axis-position="outer-right"
                    axis-label="Weight"
                    padding-top="100"
                    padding-bottom="0"
                    range-min="0"/>
    </chart-axis>
    <chart-grid show-x="false" show-y="true">               
      <chart-grid-optional axis-id="y" grid-value="200" grid-text="Value on the y"/>
      <chart-grid-optional axis-id="y2" grid-value="40" grid-text="Value on the y2"/>
    </chart-grid>
  </c3chart>
<!-- </div> -->