<md-tabs flex>
      <md-tab label="Entities">
        <md-content>
          <md-input-container class="entity-selection">
            <!-- <label>Entity Type</label> -->
            <md-select ng-model="entityType">
              <md-option ng-repeat="entityType in entityTypes" value="{{entityType}}">{{entityType}}</md-option>
            </md-select>
          </md-input-container>
          <md-content class="entity-list-container" flex>
            <md-card>
              <md-card-content>
                <md-virtual-repeat-container auto-height="top-view" id="vertical-container" height="210">
                  <div ng-click="getConnections(entity)" md-virtual-repeat="entity in entities | filter: {type: entityType}" class="entity-container" flex ng-style="{'background-color' : getConnectionStrength(entity)}">
                      <div class="entity-relevance">
                      </div>
                      <div class="entity" layout="row">
                        <div class="entity-count">
                          <div class="bar" ng-style="{ 'width' : getOccurenceWidth(entity.tfidf) }"></div>
                        </div>
                        <span flex class="entity-text">{{entity.text}}</span>
                      </div>
                  </div>
                </md-virtual-repeat-container>
              </md-card-content>
            </md-card>
          </md-content>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-icon-button md-primary" aria-label="search">
              <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button md-primary" aria-label="sort_alphabetically">
              <ng-md-icon icon="sort"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button md-accent" aria-label="sort_frequency">
              <ng-md-icon icon="filter_list"></ng-md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="sort_connection">
              <ng-md-icon icon="swap_calls"></ng-md-icon>
            </md-button>
          </section>
        </md-content>
      </md-tab>
      <md-tab label="Evidences">
        <md-content class="md-padding" layout="column">
          <md-content class="evidences" flex>
            <md-content class="evidence" ng-repeat="evidence in evidences" ng-click="ach.selectedEvidence = evidence" ng-class="{selected: evidence === ach.selectedEvidence}"
              ng-mouseover="evidenceList.hover = evidence" ng-mouseout="evidenceList.hover = ''">
              <div layout="row" layout-align="space-between center">
                <span editable-text="evidence.name" e-form="textBtnForm" onaftersave="ach.updateACH()">
                    {{ evidence.name || 'empty' }}
                  </span>
                <ng-md-icon icon="edit" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible || evidenceList.hover !== evidence"></ng-md-icon>
              </div>
              <div class="evidence-weight">
                <div class="bar" ng-style="{ 'width' : getEvidenceWidth(evidence.weight) }"></div>
              </div>
              <!-- <span onaftersave="ach.updateACH()" editable-text="evidence.name">{{evidence.name}}</span> -->
            </md-content>
          </md-content>
        </md-content>
      </md-tab>
      <md-tab label="Hypothesis">
        <md-content class="md-padding" layout="column">
          <md-content class="hypotheses" flex>
            <md-content class="hypothesis" ng-repeat="hypothesis in hypotheses" ng-click="ach.selectedHypothesis = hypothesis" ng-class="{selected: hypothesis === ach.selectedHypothesis}"
              ng-mouseover="hypothesesList.hover = hypothesis" ng-mouseout="hypothesesList.hover = ''">
              <div layout="row" layout-align="space-between center">
                <span editable-text="hypothesis.name" e-form="textBtnForm" onaftersave="ach.updateACH()">
                    {{ hypothesis.name || 'empty' }}
                  </span>
                <ng-md-icon icon="edit" ng-click="textBtnForm.$show()" ng-hide="textBtnForm.$visible || hypothesesList.hover !== hypothesis"></ng-md-icon>
              </div>
              <div class="hypothesis-weight">
                <div class="bar" ng-style="{ 'width' : getHypothesisWidth(hypothesis.weight) }"></div>
              </div>
              <!-- <span onaftersave="ach.updateACH()" editable-text="evidence.name">{{evidence.name}}</span> -->
            </md-content>
          </md-content>
        </md-content>
      </md-tab>
    </md-tabs>