<md-toolbar class="top-bar">
  <div class="md-toolbar-tools" layout="row" layout-align="start center">
    <h2>
      <span>Vizit</span>
    </h2>
    <span flex></span>
    	<!-- <md-progress-circular class="md-warn" md-diameter="24" md-mode="indeterminate"></md-progress-circular> -->
    <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
  	<span>
	  	<md-button class="md-icon-button" ng-click="go('vizit.entity_ach')" aria-label="ach-canvas">
	  		<md-tooltip>
	       ACH Canvas
	      </md-tooltip>
	      <ng-md-icon icon="picture_in_picture" ng-style="{fill: currentState === 'vizit.entity_ach' ? 'white' : '#7E7E7E'}"></ng-md-icon>
	    </md-button>
	  	<md-button class="md-icon-button md-primary" ng-click="go('vizit.entity_view')" aria-label="entity-view">
				<md-tooltip>
		     Entity View
		    </md-tooltip>
	      <ng-md-icon icon="view_column" ng-style="{fill: currentState === 'vizit.entity_view' ? 'white' : '#7E7E7E'}"></ng-md-icon>
	    </md-button>
	  	<md-button class="md-icon-button md-primary" aria-label="ach-summary">
				<md-tooltip>
		     ACH Summary
		    </md-tooltip>
	      <ng-md-icon icon="view_list" ng-style="{fill: currentState === 'vizit.entity' ? 'white' : '#7E7E7E'}"></ng-md-icon>
	    </md-button>
  	</span>
    <!-- <ng-md-icon icon="picture_in_picture" style="fill: black;"></ng-md-icon> 
    <ng-md-icon icon="view_column" style="fill: white;"></ng-md-icon> 
    <ng-md-icon icon="view_list" style="fill: white;"></ng-md-icon> -->
    <span flex="5"></span>
  	<md-button class="md-icon-button md-primary" aria-label="sort">
      <ng-md-icon icon="account_circle" style="fill: white;"></ng-md-icon>
    </md-button>
    <!-- </md-button> -->
  </div>
</md-toolbar>
<md-content flex ui-view="topView" class="top-view">
	
</md-content>
<md-content>
    <md-toolbar flex class="top-bar" ng-hide="ach.showDocumentViewer">
      <div class="md-toolbar-tools" layout="row" layout-align="start center">
        <span flex></span>
        <md-button class="md-icon-button md-primary" aria-label="minimize-document-viewer" ng-click="ach.showDocumentViewer = !ach.showDocumentViewer">
          <ng-md-icon icon="{{ach.showDocumentViewer ? 'expand_more' : 'expand_less'}}" style="fill: white;"></ng-md-icon>
        </md-button>
        <!-- </md-button> -->
      </div>
    </md-toolbar>
</md-content>
<md-content flex="25" layout="column" ng-hide="ach.fullscreen || !ach.showDocumentViewer">
	<div layout="row">
			<md-toolbar flex="20" class="top-bar">
			  <div class="md-toolbar-tools" layout="row" layout-align="center center">
			    <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
	      	<md-button class="md-icon-button md-primary" aria-label="sort">
		        <ng-md-icon icon="sort" style="fill: white;"></ng-md-icon>
		      </md-button>
	      	<md-button class="md-icon-button md-primary" aria-label="visibility">
		        <ng-md-icon icon="visibility" style="fill: white;"></ng-md-icon>
		      </md-button>
			    <!-- </md-button> -->
			  </div>
			</md-toolbar>
			<md-toolbar flex class="top-bar">
			  <div class="md-toolbar-tools" layout="row" layout-align="start center">
			    <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
			    <!-- <ng-md-icon icon="text_format" style="fill: white;"></ng-md-icon> -->
			    <md-button class="md-icon-button md-primary" aria-label="showTextToggle" ng-click="showDocumentText = !showDocumentText">
			      <ng-md-icon icon="{{showDocumentText ? 'list' : 'text_format'}}" style="fill: white;"></ng-md-icon>
			    </md-button>
		      <span flex></span>
		      <md-button class="md-icon-button md-primary" aria-label="add" ng-click="addEvidence()">
		      	<md-tooltip md-direction="top">
		      	   Add as Evidence
	      	  </md-tooltip>
		        <ng-md-icon icon="add" style="fill: white;"></ng-md-icon>
		      </md-button>
		      <md-button class="md-icon-button md-primary" aria-label="note_add">
		      	<md-tooltip md-direction="top">
		      	  Add as Evidence Into Hypothesis
	      	  </md-tooltip>
		        <ng-md-icon icon="note_add" style="fill: white;"></ng-md-icon>
		      </md-button>
		      <md-button class="md-icon-button md-primary" aria-label="minimize-document-viewer" ng-click="ach.showDocumentViewer = !ach.showDocumentViewer">
		        <ng-md-icon icon="{{ach.showDocumentViewer ? 'expand_more' : 'expand_less'}}" style="fill: white;"></ng-md-icon>
		      </md-button>
			    <!-- </md-button> -->
			  </div>
			</md-toolbar>
	</div>
	<md-content flex layout="row">
		<!-- <div layout-padding flex="20" layout="column"> -->
	  	<md-card flex="20" class="document-list" layout="column" ui-view="documentList">
		    
	  	</md-card>
		<!-- </div> -->
		<md-content layout-padding class="document-viewer" layout="column" ui-view="documentViewer" flex>
		  
		</md-content>
	</md-content>
</md-content>