<md-toolbar class="top-bar">
  <div class="md-toolbar-tools" layout="row" layout-align="start center">
    <h2>
      <span>Vizit</span>
    </h2>
    <span flex></span>
    	<!-- <md-progress-circular class="md-warn" md-diameter="24" md-mode="indeterminate"></md-progress-circular> -->
    <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
      <ng-md-icon icon="account_circle" style="fill: white;"></ng-md-icon> 
    <!-- </md-button> -->
  </div>
</md-toolbar>
<md-content flex layout="row" ui-view="topView">
	
</md-content>
<md-content flex="25" layout="column" ng-hide="ach.fullscreen">
	<div layout="row">
			<md-toolbar flex="20" class="top-bar">
			  <div class="md-toolbar-tools" layout="row" layout-align="center center">
			    <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
	      	<md-button class="md-icon-button md-primary" aria-label="sort">
		        <ng-md-icon icon="sort" style="fill: white;"></ng-md-icon>
		      </md-button>
	      	<md-button class="md-icon-button md-primary" aria-label="visibility">
		        <ng-md-icon icon="visibility" style="fill: white;"></ng-md-icon>
		      </md-button>
			    <!-- </md-button> -->
			  </div>
			</md-toolbar>
			<md-toolbar flex class="top-bar">
			  <div class="md-toolbar-tools" layout="row" layout-align="start center">
			    <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
			    <!-- <ng-md-icon icon="text_format" style="fill: white;"></ng-md-icon> -->
			    <md-button class="md-icon-button md-primary" aria-label="showTextToggle" ng-click="showDocumentText = !showDocumentText">
			      <ng-md-icon icon="{{showDocumentText ? 'list' : 'text_format'}}" style="fill: white;"></ng-md-icon>
			    </md-button>
		      <span flex></span>
		      <md-button class="md-icon-button md-primary" aria-label="add">
		        <ng-md-icon icon="add" style="fill: white;"></ng-md-icon>
		      </md-button>
		      <md-button class="md-icon-button md-primary" aria-label="note_add">
		        <ng-md-icon icon="note_add" style="fill: white;"></ng-md-icon>
		      </md-button>
			    <!-- </md-button> -->
			  </div>
			</md-toolbar>
	</div>
	<md-content flex layout="row">
		<!-- <div layout-padding flex="20" layout="column"> -->
	  	<md-card flex="20" class="document-list" layout="column" ui-view="documentList">
		    
	  	</md-card>
		<!-- </div> -->
		<md-content layout-padding class="document-viewer" layout="column" ui-view="documentViewer" flex>
		  
		</md-content>
	</md-content>
</md-content>