<md-toolbar class="top-bar">
  <div class="md-toolbar-tools" layout="row" layout-align="start center">
    <h2>
      <span>Vizit</span>
    </h2>
    <span flex></span>
    <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
      <ng-md-icon icon="account_circle" style="fill: white;"></ng-md-icon> 
    <!-- </md-button> -->
  </div>
</md-toolbar>
<div flex="1" layout="column" layout-align="center center" ng-controller="UploadCtrl">
	<p>{{file.name}}</p>
	<!-- <md-button class="md-raised" ngf-change="fileUpdated($files, $event)" ngf-select ng-model="file">
    Select a file
  </md-button> -->
  <md-button class="md-raised" type="file" ngf-select="fileUpdated($file, $event)" ngf-max-height="1000" ngf-max-size="1MB">
		Select a file
	</md-button>
  <!-- <button type="file" ngf-select="uploadFiles($file)"
           accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
       Select File</button> -->
	<md-button class="md-raised md-primary" ng-click="upload(file)">
		Upload
	</md-button>
</div>