<md-content layout="column" class="entity-top-view" style="height: 100%;">
  <md-content class="entity-list entity-viewer" layout-padding layout="row" flex>
  	<md-content class="entity-list-item" ng-click="entityViewer.selectedEntityType = entityType" 
    ng-class="{'selected' : entityType === entityViewer.selectedEntityType}"
                ng-repeat="entityType in entityTypes" flex>
		<vz-entityviewer entities="entities"
                         entity-type="{{entityType}}">
		</vz-entityviewer>
  	</md-content>
  </md-content>
  <!--<section layout="row" layout-align="start center" layout-wrap>-->
  	<!--<md-input-container class="md-icon-float entity-search" >-->
        <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
      <!--<label>Search {{entityViewer.selectedEntityType}}</label>-->
      <!--<md-icon><ng-md-icon icon="search"></ng-md-icon></md-icon>-->
      <!--<input ng-model="ach.searchInput" type="text">-->
    <!--</md-input-container>-->
    <!--<md-button class="md-icon-button md-primary" aria-label="sort_alphabetically">-->
      <!--<ng-md-icon icon="sort"></ng-md-icon>-->
    <!--</md-button>-->
    <!--<md-button class="md-icon-button md-accent" aria-label="sort_frequency">-->
      <!--<ng-md-icon icon="filter_list"></ng-md-icon>-->
    <!--</md-button>-->
  <!--</section>-->
</md-content>