<md-toolbar class="top-bar">
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
        <h2>
            <span>SCADE</span>
        </h2>
        <span flex></span>
        <!-- <md-progress-circular class="md-warn" md-diameter="24" md-mode="indeterminate"></md-progress-circular> -->
        <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
  	<span>
	  	<md-button class="md-icon-button" ng-click="go('vizit.entity_ach')" aria-label="ach-browser">
            <md-tooltip>
                ACH Browser
            </md-tooltip>
            <ng-md-icon icon="picture_in_picture"
                        ng-style="{fill: currentState === 'vizit.entity_ach' ? 'white' : '#7E7E7E'}"></ng-md-icon>
        </md-button>
	  	<md-button class="md-icon-button md-primary" ng-click="go('vizit.entity_view')" aria-label="entity-viewer">
            <md-tooltip>
                Entity Viewer
            </md-tooltip>
            <ng-md-icon icon="view_column"
                        ng-style="{fill: currentState === 'vizit.entity_view' ? 'white' : '#7E7E7E'}"></ng-md-icon>
        </md-button>
	  	<md-button class="md-icon-button md-primary" aria-label="ach-summary" ng-click="go('vizit.ach_summary')">
            <md-tooltip>
                ACH Summary
            </md-tooltip>
            <ng-md-icon icon="view_list"
                        ng-style="{fill: currentState === 'vizit.ach_summary' ? 'white' : '#7E7E7E'}"></ng-md-icon>
        </md-button>

        <md-button class="md-icon-button md-primary" aria-label="ach-chart" ng-click="go('vizit.provenance')">
            <md-tooltip>
                Provenance Timeline
            </md-tooltip>
            <ng-md-icon icon="trending_up"
                        ng-style="{fill: currentState === 'vizit.provenance' ? 'white' : '#7E7E7E'}"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary" aria-label="ach-document-viewer" ng-click="go('vizit.document_viewer')">
            <md-tooltip>
                Document Viewer
            </md-tooltip>
            <ng-md-icon icon="insert_drive_file"
                        ng-style="{fill: currentState === 'vizit.document_viewer' ? 'white' : '#7E7E7E'}"></ng-md-icon>
        </md-button>
  	</span>

        <!-- <ng-md-icon icon="picture_in_picture" style="fill: black;"></ng-md-icon>
        <ng-md-icon icon="view_column" style="fill: white;"></ng-md-icon>
        <ng-md-icon icon="view_list" style="fill: white;"></ng-md-icon> -->
        <span flex="5"></span>
        <md-button class="md-icon-button md-primary" ng-click="go('upload')" aria-label="upload">
            <md-tooltip>
                File Upload
            </md-tooltip>
            <ng-md-icon icon="file_upload" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button md-primary" ng-click="$parent.toggleNotification()" aria-label="notifications">
            <md-tooltip>
                Notifications
            </md-tooltip>
            <ng-md-icon icon="notifications" style="fill: white;"></ng-md-icon>
        </md-button>
        <md-menu md-offset="0 -5">
            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                <md-tooltip>
                    Settings
                </md-tooltip>
                <ng-md-icon icon="settings"></ng-md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="resetAnalysis()"> <span> Reset Analysis </span></md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="resetAll()"> <span md-menu-align-target>Reset All</span></md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <!-- </md-button> -->
    </div>
</md-toolbar>
<md-content flex ui-view="topView" class="top-view" ng-hide="currentState === 'vizit.document_viewer'">

</md-content>
<!--<vz-toolbar></vz-toolbar>-->
<vz-documentviewer ng-hide="ach.fullscreen" ach="ach" hide-minimize="currentState === 'vizit.document_viewer'"
                   ng-attr-flex="{{currentState === 'vizit.document_viewer' ? '100' : '30'}}" documents="documents"></vz-documentviewer>