<md-tabs flex>
    <md-tab label="Entities">
        <md-content>
            <vz-entityviewer entities="entities"
                             use-selector="true"
                             show-toolbar="true">
            </vz-entityviewer>
        </md-content>
    </md-tab>
    <md-tab label="Evidences">
        <md-content class="md-padding" layout="column">
            <md-content class="evidences" flex>
                <!--<md-content>-->
                    <vz-editable-list-item
                            ng-repeat="evidence in evidences" class="evidence"
                            ng-click="ach.selectedEvidence = evidence"
                            ng-class="{selected: evidence === ach.selectedEvidence}"
                            show-location="showLocation(evidence)"
                            item="evidence" on-save="updateItem('evidences', evidence)"></vz-editable-list-item>
                <!--</md-content>-->
            </md-content>
        </md-content>
    </md-tab>
    <md-tab label="Hypothesis">
        <md-content class="md-padding" layout="column">
            <md-content class="hypotheses" flex>
                <!--<md-content>-->
                    <vz-editable-list-item
                            ng-repeat="hypothesis in hypotheses" class="hypothesis"
                            ng-click="ach.selectedHypothesis = hypothesis"
                            ng-class="{selected: hypothesis === ach.selectedHypothesis}"
                            show-location="showLocation(hypothesis)"
                            item="hypothesis" on-save="updateItem('hypotheses', hypothesis)"></vz-editable-list-item>
                <!--</md-content>-->
            </md-content>
        </md-content>
    </md-tab>
</md-tabs>