<md-toolbar class="top-bar">
    <div class="md-toolbar-tools" layout="row" layout-align="start center">
        <h2>
            <span>Vizit</span>
        </h2>
        <span flex></span>
        <!-- <md-button class="md-icon-button" aria-label="Favorite"> -->
        <ng-md-icon icon="account_circle" style="fill: white;"></ng-md-icon>
        <!-- </md-button> -->
    </div>
</md-toolbar>
<vz-upload flex="1" layout="column" layout-align="center center" success="uploadSuccessful"></vz-upload>