<div>
    <md-input-container class="entity-selection" ng-show="useSelector">
         <!--<label>{{entityType}}</label>-->
        <md-select ng-model="entityType" aria-label="entity-selection">
            <md-option ng-repeat="entityType in entityTypes" value="{{entityType}}">{{entityType}}</md-option>
        </md-select>
    </md-input-container>
    <span ng-hide="useSelector">{{entityType}}</span>
    <md-content class="entity-list-container" flex>
        <md-card>
            <md-card-content>
                <md-virtual-repeat-container class="vertical-container">
                    <div vz-entityitem
                                    md-virtual-repeat="entity in entities
                                    | filter:{type: entityType} | filter: toolbar.search
                                    | orderBy: toolbar.orderBy: toolbar.reverse"
                                    class="entity-container"
                                    entity="entity"
                                    color-scale="colorScale"
                                    bar-width="getOccurenceWidth(count)">
                    </div>
                </md-virtual-repeat-container>
            </md-card-content>
        </md-card>
    </md-content>
    <div vz-entity-toolbar
            ng-if="showToolbar"
            toolbar="toolbar"
            style="height: 48px; overflow: hidden;"></div>
    <!--<section layout="row" layout-sm="column"-->
             <!--ng-show="showToolbar" layout-align="center center" layout-wrap>-->
        <!--<md-button class="md-icon-button md-primary" aria-label="search">-->
            <!--<ng-md-icon icon="search"></ng-md-icon>-->
        <!--</md-button>-->
        <!--<md-button class="md-icon-button md-primary" aria-label="sort_alphabetically">-->
            <!--<ng-md-icon icon="sort"></ng-md-icon>-->
        <!--</md-button>-->
        <!--<md-button class="md-icon-button md-accent" aria-label="sort_frequency">-->
            <!--<ng-md-icon icon="filter_list"></ng-md-icon>-->
        <!--</md-button>-->
        <!--<md-button class="md-icon-button" aria-label="sort_connection">-->
            <!--<ng-md-icon icon="swap_calls"></ng-md-icon>-->
        <!--</md-button>-->
    <!--</section>-->
</div>